<!--<p>
  <b>Payment:</b>
  <%=h @purchase_detail.payment %>
</p>

<p>
  <b>Ip:</b>
  <%=h @purchase_detail.ip %>
</p>-->


<p>
  <b>Customer name:</b>
  <%=h @purchase_detail.customer_name %>
</p>

<p>
  <b>Email:</b>
  <%=h @purchase_detail.customer_email %>
</p>





<!--<%= link_to 'Edit', edit_purchase_detail_path(@purchase_detail) %> |-->
<%= link_to 'Back', purchase_details_path %>
